# Logs
logs
*.log

#certs
resources/mocked-data/.certs

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules

.DS_Store
.generator-release

#IDE files
.idea
*.iml

#routes.json
resources/routes.json
coverage
test-reports
